<html>
<head>
</head>
<body>
<h1>Welcome to SATYUKT API URL</h1>
    <p>Please use respective parameters to access the data with proper key.</p>
     <table>
                       <thead style="background-color: #e2e2e2"><tr><th>Parameters</th><th>Description</th></tr></thead>
                       <tbody style="background-color: aliceblue">
                           <tr><td>Product Name</td><td>Need to be mentioned as "user" </td></tr>
                           <tr><td>Location</td><td>Need to be mentioned as "loc" </td></tr>
                           <tr><td>Start Date</td><td>Need to be mentioned as "startDate" </td></tr>
                           <tr><td>End Date</td><td>Need to be mentioned as "endDate" </td></tr>
                           <tr><td>Plot</td><td>Need to be mentioned as "plotName" </td></tr>
                       </tbody>
                   </table>
</body>
</html>